<div class="iconmenu-width">
    <app-reduxicon
      class="padding"
      icon="plus"
      color="black"
      (click)="handlePlus()"
    ></app-reduxicon>
    <app-reduxicon
      class="padding"
      icon="times"
      color="black"
      (click)="handleTimes()"
    ></app-reduxicon>
    <app-reduxicon
      class="padding"
      icon="minus"
      color="black"
      (click)="handleMinus()"
    ></app-reduxicon>
    <app-reduxicon
      class="padding"
      icon="divide"
      color="black"
      (click)="handleDivide()"
    ></app-reduxicon>
    <app-reduxicon
      class="padding"
      icon="equals"
      color="black"
      (click)="handleEquals()"
    ></app-reduxicon>
  </div>
  