<div class="iconmenu-width">
  <app-icon
    class="padding"
    icon="plus"
    color="black"
    (click)="handlePlus()"
  ></app-icon>
  <app-icon
    class="padding"
    icon="times"
    color="black"
    (click)="handleTimes()"
  ></app-icon>
  <app-icon
    class="padding"
    icon="minus"
    color="black"
    (click)="handleMinus()"
  ></app-icon>
  <app-icon
    class="padding"
    icon="divide"
    color="black"
    (click)="handleDivide()"
  ></app-icon>
  <app-icon
    class="padding"
    icon="equals"
    color="black"
    (click)="handleEquals()"
  ></app-icon>
</div>
