<div class="chart-container">
  <app-icon class="padding" icon="clear" color="black" (click)="clearChartHistory()"></app-icon>
  <app-icon
    class="icon"
    icon="collapse"
    color="black"
    [hidden]="hidden"
    (click)="toggleHidden()"
  ></app-icon>
  <app-icon
    class="icon"
    icon="expand"
    color="black"
    [hidden]="!hidden"
    (click)="toggleHidden()"
  ></app-icon>
  <span class="collapsed" [ngStyle]="{display: hidden ? 'inline-block' : 'none'}">Calculator value trend</span>
  <div [ngStyle]="{display: hidden ? 'none' : 'block'}">
    <chart [type]="type" [data]="data" [options]="options"></chart>
  </div>
</div>
